.vscode
output_by_possession/
output_by_source
__pycache__/
voebvoll-20241027.xml
metadatenelemente.txt
possession_counts.csv
elements_quantity_008_details.csv
elements_quantity_008_values.csv
elements_quantity_969_details.csv
example.voebvoll-20241027.xml
enrich_metadata.log
example.voebvoll-20241027_enriched.xml
voebvoll-20241027_enriched_stats.json
voebvoll-20241027_enriched.xml
enrichment_charts/
book_counts.csv
bib_counts.csv
elements_list.txt
language_discrepancies.csv
elements_quantity.csv