nach_quelle/
nach_besitz/
__pycache__/
voebvoll-20241027.xml
metadatenelemente.txt
metadatenelemente_quantity.csv
metadatenelemente_quantity_008_values.csv
metadatenelemente_quantity_008_details.csv
metadatenelemente_quantity_969_details.csv